@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
}
html, body{
    color: #333;
    min-width:1280px;/* 최소 너비 1280px 모바일 */
    font-family: 'NanumBarunGothic';}
    
div a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}